{
  "singleQuote": true,
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false,
      "fileInfoOptions": {
        "withNodeModules": true
      },
      "endOfLine": "auto"
    }
  ]
}